:root{
    --item-margin:3rem;
}


html{
    padding: 0;
    background-color: rgb(247, 245, 245);
}

body{
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

#pageTitle{
    background-image: url(./images/leafImage.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 45%;
    margin: 0;
    left: 0;
    top: 0;
    color: white;
}

#pageText{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    font-size: 4rem;
    text-align: center;
}

section > section{
    display: flex;
    margin: var(--item-margin);
}

p{
    display: flex;
    flex-direction: column;
    margin: 0 var(--item-margin) 0;
}

#signUp{
    width: 100%;
}

#info{
    background-color: white;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

section{
    padding: 4px;
}

h1{
    margin: var(--item-margin);
}

button{
    margin: var(--item-margin);
    background-color: rgb(10, 92, 10);
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
}