:root{
    --item-margin:2rem;
    --st-font-size:1rem;
    --st-green:#596D48;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


html{
    padding: 0;
    background-color: rgb(247, 245, 245);
}

body{
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

#pageTitle{
    background-image: url(./images/leafImage.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 45%;
    margin: 0;
    left: 0;
    top: 0;
    color: white;
}

#pageText{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    font-size: 4rem;
    text-align: center;
}

section > section{
    display: flex;
    margin: var(--item-margin);
}

p{
    display: flex;
    flex-direction: column;
    margin: 0 var(--item-margin) 0;
}

#signUp{
    width: 100%;
}

#info{
    background-color: white;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
}

section{
    padding: 4px;
}

h1{
    margin: var(--item-margin);
    width: 56ch;
}

button{
    margin: var(--item-margin);
    background-color: var(--st-green);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}


button:hover{
    background-color: green;
}

input{
    border-radius: 6px;
    border: 1px solid;
    font-size: var(--st-font-size);
    margin-top: 6px;
}

label{
    font-size: var(--st-font-size);
}

a{
    color: green;
    text-decoration: none;
}

input.error{
    border: 1px solid red;
}
