body{
    display: flex;
    flex-direction: row;
    background-image: url(./images/leafImage.jpg);
    background-repeat: no-repeat;
    background-size: auto 100vh;
}


#title{
    color: white;
    padding: 20px;
}

#signUp{
    position: relative;
    left: 20vw;
}